SLACK_BOT_TOKEN=xoxb-12313123123213213213213231312
BOT_TOKEN_VERIFICATION=XXXasdasdasdasda
WEATHER_APP_API_KEY=b724c07c67a34a948a1140226231503
WEATHER_APP_REMOTE_ENDPOINT=http://api.weatherapi.com/v1/forecast.json
SLACK_WEBHOOK_MESSAGE_POST=https://hooks.slack.com/services/T0YYYHFXXX/328942478239/AlbHIxvZ8438576487563xxxeF